[Unit]
Description=Kafka Daemon
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Type=forking
WorkingDirectory={{ KAFKA_HOME }}
Environment="JAVA_HOME={{ JAVA_HOME }}"
ExecStart={{ KAFKA_HOME }}/bin/kafka-server-start.sh -daemon {{ KAFKA_HOME }}/config/server.properties
ExecStop={{ KAFKA_HOME }}/bin/kafka-server-stop.sh -daemon {{ KAFKA_HOME }}/config/server.properties
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=default.target